@keyframes slideIn_up {
  from {
    transform: translate(0, -2rem);
  }
}
@keyframes slideIn_down {
  from {
    transform: translate(0, 2rem);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: opacity(1);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper__top {
  display: block;
  text-align: center;
  margin-block: 12rem 2rem;
}

h1 {
  margin-bottom: 1rem;
  color: coral;
  animation: fadeIn 0.5s ease-in forwards, slideIn_up 0.5s ease-out forwards;
}

h3 {
  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 2.5rem;
}

.constell__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
  height: 3rem;
  padding: 1rem;
  margin-block: 1rem;
  margin-inline: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background-color: none;
  color: coral;
  border: 0.1rem solid;
  border-radius: 0.3rem;
  animation: fadeIn 0.5s ease-in forwards;
}
.constell__card h3 {
  color: coral;
  margin-block: 0;
}
.constell__card p {
  color: gray;
}

.constell__card:hover {
  background-color: cornflowerblue;
  transition: background-color 0.2s ease-in-out;
}

.constell__card.selected {
  background-color: coral;
}
.constell__card.selected h3,
.constell__card.selected p {
  color: black;
}

.btn {
  margin-top: 2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/ui/btn_start.webp") no-repeat;
  background-size: cover;
  width: 28rem;
  opacity: 0.5;
  aspect-ratio: 4/1;
}

.btn.active {
  opacity: 1;
  cursor: pointer;
}
.btn.active:hover {
  color: coral;
  background: url("/img/ui/btn_start_hover.webp") no-repeat;
  background-size: cover;
  transition-duration: 0.75s;
}