.header {
  padding-block: 0.5rem;
  color: white;
  background-color: black;
}
.header__text__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.header__text__wrapper p {
  padding-inline: 1.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: black;
}