@keyframes slideIn_down {
  from {
    transform: translate(0, 2rem);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: opacity(1);
  }
}
h1 {
  color: coral;
  font-size: 2.5rem;
}

h3 {
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 0.75s ease-in forwards;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__btn {
  position: absolute;
  z-index: 99;
  bottom: 20%;
  animation: slideIn_down 1.5s ease-in-out;
}

.btn {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/ui/btn_start.png") no-repeat;
  background-size: cover;
  width: 28rem;
  aspect-ratio: 4/1;
}
.btn:hover {
  color: coral;
  background: url("/img/ui/btn_start_hover.png") no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
}

.vid__1 {
  position: absolute;
  z-index: 4;
}
.vid__2 {
  position: absolute;
  z-index: 3;
}
.vid__2 video {
  width: 70vw;
}
.vid__3 {
  position: absolute;
  z-index: 2;
}
.vid__4 {
  position: relative;
  z-index: 1;
}