* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: rgb(14, 14, 14);
  text-decoration: none;
}

h3 {
  color: gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
